.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.list-group-item {
  padding: 0px;
}

.reviews-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.review-container {
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.listings-container {
  background-color: black;
  padding: 2px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.listing-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: blue;
  width: 400px;
}